/* Browser Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

/* Header */

#page-header {
    width: 100%;
    height: 125px;
    background-color: #283e56;
    text-decoration: none;
}
#header-container {
    padding: 40px 18% 0 18%;
    min-width: 910px;
    color: #f8f8f8;
    border-top: 5px solid #37b0e9;
}

/* Logo */

#logo {
    float: left;
    font-size: 24px;
    width: 400px;
    margin-left: 20px;
}
#logo img {
    vertical-align: middle;
    padding-right: 20px;
}
#logo span {
}

/* Navigation */

#nav {
    width: 1100px;
}
#nav ul{
    float: right;
    list-style-type: none;
    color: #f8f8f8;
    font-size: 14px;
    margin-top: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
#nav ul li {
    float: left;
    margin-right: 35px;
}
#nav a {
    color: #f8f8f8;
}
.nav-hover {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #37b0e9;
}
.last-nav {
    background-color: #37b0e9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #283e56;
    font-weight: bold;
    margin-top: -10px;
    margin-left: -2px;
    padding: 10px;
    width: 160px;
}
.last-nav-hover {
    background-color: #ffd666;
    color: #283e56;
}
.help-tooltip {
    position: absolute;
    background-color: #ffd666;
    color: #283e56;
    margin-top: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #283e56;
    width: 160px;
    text-transform: none;
}

/* Learn How */

#learn-how-bg {
    height: 650px;
    background-color: #37b0e9;
    background-image: url('../img/learn-how-bg.png');
    background-repeat: no-repeat;
}
#learn-how {
    width: 900px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 54px;
    color: #f8f8f8;
}
#learn-how span {
    font-size: 45px;
}
#learn-how p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
#learn-how a {
    color: #f8f8f8;
    text-decoration: none;
}
.get-started-button {
    font-size: 14px;
    width: 99px;
    text-transform: uppercase;
    padding: 20px;
    background-color: #386799;
    border: 3px solid #386799;
    color: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.get-started-button-hover {
    background-color: #ffd666;
    border: 3px solid #ffd666;
    color: #283e56 !important;
}

/* Our Process */

#our-process-bg {
    background-color: #f8f8f8;
}
.our-process {
    width: 900px;
    margin: 0 auto;
    color: #386799;
}
.our-process > h1 {
    margin: 0 auto;
    padding: 100px 0 50px 0;
    text-align: center;
}
.our-process > h3 {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 100px 0;
}
.our-process-risk {
    color: #ad0000;
    font-weight: bold;
}
/* Meet The Team */

#meet-team-bg {
    border-top: 5px solid #37b0e9;
    color: #f8f8f8;
    height: 800px;
    background: #283e56;
    background-image: url('../img/meet-team-bg.png');
    background-repeat: no-repeat;
    background-position: 0% 85%;
}
.meet-team > h1 {
    margin: 0 auto;
    padding: 100px 0 50px 0;
    text-align: center;
    width: 1000px;
}
.meet-team > h3 {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    padding: 10px 0 100px 0;
}
.meet-team-blurbs-wrapper {
    width: 1200px;
    margin: 0 auto;
}
.meet-team-blurbs-wrapper img {
    display: block;
    width: 94px;
    margin: 30px auto 30px auto;
}
.meet-team-blurbs {
    width: 340px;
    margin-right: 60px;
    float: left;
}
.meet-team-blurbs p {
    margin: 15px 0 0 0;
    line-height: 25px;
}
.meet-team-name {
    font-weight: bold;
    text-align: center;
}
.meet-team-role {
    text-align: center;
    color: #37b0e9;
    font-size: 14px;
}


