#donate-container {
    height: 1350px;
    color: #386799;
    width: 900px;
    margin: 0 auto;
}
.donate {
    text-align: center;
    padding-top: 100px;
}
.donate h1 {
    padding-bottom: 75px;
}
.donate-numbers {
    font-size: 70px;
    padding: 10px 0 10px 0;
}
.donate-numbers-surround {
    text-transform: uppercase;
    font-size: 14px;
}
.donate p {
    padding: 70px 0 70px 0;
    font-size: 14px;
    line-height: 30px;
}
.donate-criteria-container {
    float: left;
    width: 50%
}
.donate-criteria {
    padding: 30px;
    border-right: 1px solid #386799;
}
.donate-criteria h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.donate-criteria p {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    line-height: 23px;
}
.donate-criteria-hover {
    padding: 30px;
    background-color: #386799;
    cursor: pointer;
    color: #fff;
}
.donate-criteria-container img {
    float: left;
    padding-right: 50px;
    vertical-align: middle;
}
.donate-organization-container {
    float: left;
    width: 50%
}
