table { 
	width: 50%; 
	border-collapse: collapse; 
	margin:auto;
	border: 1px solid #fff; 
}
tr {
	border: 1px solid #fff;
}
th { 
  background: #FFFFFF; 
  color: #283E56; 
  font-weight: bold; 
  padding: 6px; 
  text-align: center; 
}
td { 
  padding: 6px; 
  text-align: center; 
  border: 1px solid #fff;
}
/*
  =============================================================================
  Description: Get Started page specific styles.
  =============================================================================
*/
.collegues {
	border-bottom: 5px solid #37b0e9;
}
.single-item .img-rsp{
	max-width: 100%;
	height: auto;
}
/*.process li {
	margin-top: 1.5%;
	padding-left: 0;
	margin-left: 0;
}*/
.process ol {
	display: inline-block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.process ol li {
	text-align: left;
}
.process h3 {
	text-align: center;
}
.collegues h3 {
	text-align: center;
	margin: 4%;
	text-decoration: underline;
}
#supplieslist {
	margin-top: 2%;
}
#supplieslist a {
	color: #fff;
	font-weight: bold;
}
#supplieslist a:hover {
	color: #386799;
	text-decoration: none;
	font-weight: bold;
}
#required { 
  background: #37B0E9; 
}
.payload table { 
	width: 80%; 
	border-collapse: collapse; 
	margin:auto;
	border: 1px solid #283E56; 
}
.payload tr {
	border: 1px solid #283E56;
}
.payload th { 
  background: #37B0E9; 
  color: #fff; 
  font-weight: bold; 
  padding: 2px; 
  text-align: center; 
  border: 1px solid #283E56;
}
.payload td { 
  padding: 2px; 
  text-align: center; 
  border: 1px solid #283E56;
}
.payload h3 {
	margin-top: 4%;
	margin-bottom: 1%;
}
.payload ol {
	display: inline-block;
	margin: auto;
	text-align: left;
	width: 50%;
}
.payload li {
	text-align: center;
}
#payloadpart {
	width: 50%;
}
.info-block h3 {
	text-align: center;
}
#info-p {
	text-align: center;
}
/*
  =============================================================================
  Description: Slider Styles
  =============================================================================
*/
.slider img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slider ul {
	list-style-type: none;
	padding: 0;
	margin-top: 6%;
	margin-bottom: 0;
}
.slider li {
	padding: 0;
}
.slider {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	overflow: hidden;
}

.slides {
	height: 100%;


	/* Clear fix */
	@include clearfix();

	/**
	 * Prevent blinking issue
	 * Not tested. Experimental.
	 */
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.slide {
	height: 100%;
	float: left;
	clear: none;
	margin-left: auto;
	margin-right: auto;
}
.slider-arrow {
	position: absolute;
	margin-bottom: -20px;
	padding: 20px;
	background-image: url("../img/getstarted/glide-arrows2.png");
	width: 17px;
	height: 28px;
	display: block;
	padding: 0;
}

.slider-arrows {
	/*position: absolute;
	margin-bottom: -20px;
	padding: 20px;
	background-image: url("../img/getstarted/glide-arrows.png");
	width: 17px;
	height: 28px;
	display: block;
	padding: 0;*/
}

.slider-arrow--right { 
	bottom: 50%; 
	right: 30px; 
	margin-right: 36px;
	background-position: -17px 0;
}
.slider-arrow--right:hover {
	background-position: -17px -28px;
}

.slider-arrow--left { 
	bottom: 50%; 
	left: 30px; 
	margin-left: 36px;
	background-position: 0 0;
}
.slider-arrow--left:hover {
	background-position: 0 -28px;
}


.slider-nav {
	position: absolute;
	bottom: 30px;
	padding-left: 0;
}

.slider-nav__item {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #283E56;
}

.slider-nav__item:hover { background: #37B0E9; }
.slider-nav__item--current { background: #37B0E9; }