/*
  =============================================================================
  Description: Get Started page specific styles.
  =============================================================================
*/

.process li {
	margin: 1.5%;
}
.process ol li {
	text-align: center;
}


.collegues h3 {
	text-align: center;
	margin: 4%;
	text-decoration: underline;
}
#supplieslist {
	margin-top: 2%;
}
#supplieslist a {
	color: #fff;
	font-weight: bold;
}
#supplieslist a:hover {
	color: #386799;
	text-decoration: none;
	font-weight: bold;
}
#required { 
  background: #37B0E9; 
}
table { 
	width: 80%; 
	border-collapse: collapse; 
	margin:auto;
	border: 1px solid #fff; 

}
tr {
	border: 1px solid #fff;
}
th { 
  background: #FFFFFF; 
  color: #283E56; 
  font-weight: bold; 
  padding: 6px; 
  text-align: center; 
}
td { 
  padding: 6px; 
  text-align: center; 
  border: 1px solid #fff;
}
