/*
  =============================================================================
  Description: Homepage specific responsive styles.
  =============================================================================
*/


@media screen and (max-width: 960px) {

  /* Responsive Introduction */
  .intro {
    padding: 200px 35px 70px 35px;
  }
  .intro h2 {
    font-size: 25px;
  }
  .intro h2 span {
    font-weight: bold;
    font-size: 30px;
  }
  .intro button {
    margin: 30px 0 0 0;
  }

  /* Responsive Process */
  .process {
    padding: 40px;
    text-align: left;
  }
  .process h2 {
    font-size: 24px;
  }
  .process h2 span {
    font-weight: bold;
    font-size: 30px;
  }

  /* Responsive Collegues */
  .collegues {
    padding: 40px;
  }
  .collegues h2 {
    font-size: 25px;
    text-align: left !important;
  }
  .collegues p {
    text-align: left !important;
  }
  .collegues .info-block-container {
    padding-top: 0;
  }
  .collegues .info-block {
    padding-top: 30px;
    float: none;
    width: 100%;
  }

}
